/* Noto Sans Hebrew */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@400;700&display=swap');

/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Frank Ruhl Libre */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700&display=swap');

/* David Libre */
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&display=swap');

/* Assistant */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

/* Varela Round */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Arimo */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

/* Alef */
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

/* Miriam Libre */
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');


$primaryColor: rgb(249, 249, 249);
$primaryTextColor: #222121;
$fontFamily: 'Varela Round';